<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>FC Barcelone</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

    body {
      margin: 0;
      font-family: "Nunito", sans-serif;
      background: linear-gradient(120deg, #004D98 10%, #A50044 45%, #B90030 90%);
      color: #f2f2f2;
      text-align: center;
      line-height: 1.6;
    }

    h1, h2, h3 {
      color: #FFD700;
      text-shadow: 1px 1px 4px black;
      margin-bottom: 15px;
    }

    a {
      color: #E2B900;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    header {
      padding: 40px 20px;
      position: relative;
    }

    header img {
      width: 100px;
      position: absolute;
      top: 20px;
      left: 20px;
    }

    header h1 {
      font-size: 56px;
      margin: 0;
    }

    header p {
      font-size: 20px;
      opacity: 0.9;
    }

    section {
      max-width: 1000px;
      margin: 40px auto;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 12px;
      padding: 30px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }

    .grille {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 20px;
    }

    .bloc {
      background-color: rgba(0,0,0,0.4);
      border: 1px solid #FFD700;
      border-radius: 12px;
      padding: 20px;
      width: 260px;
      transition: transform 0.3s ease;
    }

    .bloc:hover {
      transform: scale(1.05);
    }

    .bloc img {
      width: 100%;
      border-radius: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 6px 0;
    }

    footer {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 25px;
      font-size: 16px;
      margin-top: 50px;
    }

    footer a {
      color: #FFD700;
    }

    footer p {
      margin: 6px 0;
    }
      .bande {
      position: fixed;
      bottom: 10px;
      left: 0;
      width: 100%;
      overflow: hidden;
      pointer-events: none;
      z-index: 9999;
      background: transparent;
    }

    .bande span {
      display: inline-block;
      white-space: nowrap;
      font-size: 16px;
      color: #FFD700;
      text-shadow: 1px 1px 2px black;
      animation: defile 70s linear infinite;
      opacity: 0.9;
    }

    @keyframes defile {
      0%   { transform: translateX(100%); }
      100% { transform: translateX(-100%); }








      
  </style>
</head>
